<div class="container-xl">
  <div class="jumbotron">
    <div class="container d-flex justify-content-between align-items-center">
      <h3 class="jumbotron-heading">Change password</h3>
    </div>

    <div class="change-password-container">
      <mat-vertical-stepper #stepper [linear]="true">
        <mat-step [editable]="isStepEditable" [stepControl]="changePasswordForm.get('oldPassword')?.value">
          <form [formGroup]="changePasswordForm">
            <ng-template matStepLabel>Fill out old password</ng-template>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword" matInput
                     minlength="6" placeholder="Old Password" required>
              <button (click)="toggleOldPasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword"
                      mat-icon-button matSuffix
                      type="button">
                <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-hint>At least 6 characters</mat-hint>
              <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">Password is
                required
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('minlength')">Password must be at least
                6
                characters
              </mat-error>
            </mat-form-field>
            <div>
              <button color="primary" mat-flat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [editable]="isStepEditable" [stepControl]="changePasswordForm.get('newPassword')?.value">
          <form [formGroup]="changePasswordForm">
            <ng-template matStepLabel>Fill out new password</ng-template>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" matInput
                     minlength="6" placeholder="New Password" required>
              <button (click)="toggleNewPasswordVisibility()" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hideNewPassword"
                      mat-icon-button matSuffix
                      type="button">
                <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-hint>At least 6 characters</mat-hint>
              <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">Password is
                required
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">Password must be at least
                6
                characters
              </mat-error>
            </mat-form-field>
            <div>
              <button color="primary" mat-stroked-button matStepperPrevious>Back</button>
              <button color="primary" mat-flat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [editable]="isStepEditable" [stepControl]="changePasswordForm.get('confirmPassword')?.value">
          <form [formGroup]="changePasswordForm">
            <ng-template matStepLabel>Fill out confirm password</ng-template>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Confirm Password</mat-label>
              <input [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" matInput
                     minlength="6" placeholder="Confirm password" required (keyup)="passwordMatchValidator(changePasswordForm)">
              <button type="button" (click)="toggleConfirmPasswordVisibility()"
                      [attr.aria-label]="hideConfirmPassword ? 'Show password' : 'Hide password'"
                      [attr.aria-pressed]="hideConfirmPassword" mat-icon-button matSuffix>
                <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">Confirm Password is required
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('minlength')">Confirm Password must be at
                least 6
                characters
              </mat-error>
              <mat-error *ngIf="passwordsMismatch">Passwords do not match</mat-error>
            </mat-form-field>
            <div>
              <button color="primary" mat-stroked-button matStepperPrevious>Back</button>
              <button (click)="changePassword()" [disabled]="passwordsMismatch" color="primary" mat-flat-button
                      matStepperNext>Submit
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Result</ng-template>
          <div *ngIf="showSpinner">
            <p>Changing password...</p>
            <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="hasError">
            <p class="error-message">Cannot change password! Server error, please try again later.</p>
            <p *ngIf="errorMessage.length > 0" class="error-message"><b>Errors: </b><br> {{ errorMessage }}</p>

            <div class="result-buttons">
              <button (click)="stepper.reset();" color="primary" mat-stroked-button>Reset</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
