.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar-row, nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

nav button {
  margin-right: 12px;
}
