<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <nav>
      <button mat-button routerLink="/">Home</button>
<!--      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact">Contact</button>-->
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item routerLink="/" (click)="sidenav.close()">Home</mat-list-item>
<!--      <mat-list-item routerLink="/about" (click)="sidenav.close()">About</mat-list-item>
      <mat-list-item routerLink="/contact" (click)="sidenav.close()">Contact</mat-list-item>-->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

