.spacer {
  flex: 1 1 auto;
}

.menu-container {
  display: flex;
  justify-content: flex-start;
}

mat-toolbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content-container {
  margin-top: 20px;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}

.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.inter {
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
