<mat-toolbar color="primary">
  <span><img alt="" height="81" ngSrc="./assets/inbank-logo.png" priority width="180"></span>

  <div class="menu-container">
    <button class="inter" [routerLink]="['/']" mat-button>Home</button>
    <button class="inter" [routerLink]="['/loan-application']" mat-button>Loan application</button>
    <button class="inter" [routerLink]="['/credit-modifier']" mat-button>Credit modifier</button>
    <button class="inter" [routerLink]="['/kv-store']" mat-button>Key-Value Store</button>
    <button class="inter" [routerLink]="['/person']" mat-button>Clients</button>
  </div>
  <span class="spacer"></span>
  @if (isLoggedIn) {
    <button mat-icon-button [matMenuTriggerFor]="profile" aria-label="profile">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item disabled>
        <span>Hi, {{ personName }}</span>
      </button>
      <button mat-menu-item [routerLink]="['/profile']">
        <mat-icon>edit</mat-icon>
        <span>View profile</span>
      </button>
      <button mat-menu-item [routerLink]="['/change-password']">
        <mat-icon>key</mat-icon>
        <span>Change password</span>
      </button>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
