<div class="container-xl">
  <div class="jumbotron">
    <div class="container d-flex justify-content-between align-items-center">
      <h3 class="jumbotron-heading">Credit Modifier</h3>
      <button (click)="addCreditModifier()" aria-label="Add new credit modifier" class="float-right" color="primary"
              mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div *ngIf="data.length == 0" class="message-container">
      <mat-card class="message-card">
        <mat-card-content>
          <p>No credit modifiers found.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div [hidden]="data.length == 0" class="credit-modifier-container mat-elevation-z8">
      <div *ngIf="isLoadingResults || isRateLimitReached"
           class="credit-modifier-loading-shade">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div *ngIf="isRateLimitReached" class="credit-modifier-rate-limit-reached">
          Rate limit has been reached. Please try again later.
        </div>
      </div>

      <div class="credit-modifier-table-container">
        <table [dataSource]="data" class="credit-modifier-table" mat-table
               matSort matSortActive="createdDate" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Id</th>
            <td *matCellDef="let row" class="truncate-cell" mat-cell> {{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Name</th>
            <td *matCellDef="let row" mat-cell> {{ row.name }}</td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Value</th>
            <td *matCellDef="let row" mat-cell>{{ row.value }}</td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th *matHeaderCellDef class="created-date" disableClear mat-header-cell mat-sort-header>Created date</th>
            <td *matCellDef="let row" class="created-date" mat-cell>{{ row.createdDate | date:'shortDate' }}</td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Status</th>
            <td *matCellDef="let row" mat-cell [class]="row.isActive.toString()">{{ row.isActive ? 'Active' : 'Inactive' }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>Actions</th>
            <td *matCellDef="let row" mat-cell>
              <button (click)="updateCreditModifier(row)"
                      *ngIf="row.isActive" aria-label="Update credit modifier" color="primary"
                      mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deleteCreditModifier(row)" *ngIf="row.isActive" aria-label="Delete credit modifier" color="warn"
                      mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button (click)="restoreCreditModifier(row)" *ngIf="!row.isActive" aria-label="Restore credit modifier" color="accent"
                      mat-icon-button>
                <mat-icon>restore</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
      </div>

      <mat-paginator [hidePageSize]="true" [length]="resultsLength" [pageSize]="displayPageSize"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
  </div>
</div>
