.profile-container {
  margin-top: 2rem;
  margin-left: 1rem;
}

.profile-item {
  margin-top: 20px;
}

.jumbotron-heading h3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.page-content {
  margin-top: 30px;
}
