<h1 mat-dialog-title>Add new key value</h1>
<div mat-dialog-content>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="kvKeyGroup" [editable]="isStepEditable">
      <form [formGroup]="kvKeyGroup">
        <ng-template matStepLabel>Fill out key</ng-template>
        <mat-form-field>
          <mat-label>Key</mat-label>
          <input type="text" matInput formControlName="keyCtrl" required>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="kvValueGroup" [editable]="isStepEditable">
      <form [formGroup]="kvValueGroup">
        <ng-template matStepLabel>Fill out value</ng-template>
        <mat-form-field>
          <mat-label>Value</mat-label>
          <input type="number" matInput formControlName="valueCtrl" required>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" matStepperNext (click)="addKV()">Submit</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Result</ng-template>
      <div *ngIf="showSpinner">
        <p>Adding new key value...</p>
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="hasError">
        <p class="error-message">Cannot add key value! Server error, please try again later.</p>
        <p class="error-message" *ngIf="errorMessage.length > 0"><b>Errors: </b><br> {{ errorMessage }}</p>

        <div class="result-buttons">
          <button mat-stroked-button color="primary" (click)="stepper.reset(); resetResult();">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" *ngIf="isStepEditable" (click)="onNoClick()">Cancel</button>
</div>
