<div class="container-xl">
  <div class="jumbotron">
    <div class="container d-flex">
      <h3 class="jumbotron-heading">All Loan Applications</h3>
      <button *ngIf="isAdmin" aria-label="Show my applications" class="float-right my-applications" extended mat-fab
              routerLink="/loan-application">
        <mat-icon>list_alt</mat-icon>
        Show my applications
      </button>
      <button aria-label="Add new loan" class="float-right" color="primary" mat-fab routerLink="/new-loan">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div *ngIf="data.length == 0" class="message-container">
      <mat-card class="message-card">
        <mat-card-content>
          <p>No applications found.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div [hidden]="data.length == 0 && isAdmin" class="application-container mat-elevation-z8">
      <div *ngIf="isLoadingResults || isRateLimitReached" class="application-loading-shade">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div *ngIf="isRateLimitReached" class="application-rate-limit-reached">
          Rate limit has been reached. Please try again later.
        </div>
      </div>

      <div class="application-table-container">
        <table [dataSource]="data" class="application-table" mat-table
               matSort matSortActive="createdDate" matSortDirection="asc" matSortDisableClear>
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Id</th>
            <td *matCellDef="let row" class="truncate-cell" mat-cell>{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="requestedAmount">
            <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Loan amount</th>
            <td *matCellDef="let row" mat-cell> {{ row.requestAmount }} €</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>Actions</th>
            <td *matCellDef="let row" mat-cell>
              <button (click)="onRowClicked(row)" aria-label="View application" color="primary" mat-icon-button>
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button *ngIf="row.isActive" (click)="deleteApplication(row)" aria-label="Delete application" color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button *ngIf="!row.isActive" (click)="restoreApplication(row)" aria-label="Restore application" color="accent"
                      mat-icon-button>
                <mat-icon>restore</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
      </div>

      <mat-paginator [hidePageSize]="true" [length]="resultsLength"
                     [pageSize]="displayPageSize"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
  </div>
</div>
